<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Determine Triangle</title>
  </head>
  <body>
	<h3>First Side is : @Model.GetSide1()</h3>
	<h3>Second Side is : @Model.GetSide2()</h3>
	<h3>Third Side is : @Model.GetSide3()</h3>
	<h2>Your Triangle is determined :  @Model.determineTriangle()</h2>
  </body>
</html>